@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-lg-8 col-lg-offset-1">
        <div class="panel panel-success">
            <div class="panel-heading">Articulo 1</div>
            <div class="panel-body">
                ..
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">Articulo</div>
            <div class="panel-body">
                ..
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">Articulo</div>
            <div class="panel-body">
                ..
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-lg-offset-1">
        <div class="panel panel-success">
            <div class="panel-heading">Busqueda</div>
            <div class="panel-body">
                ..
            </div>
        </div>
    </div>
    


</div>

