@using Microsoft.AspNet.Identity
@using Infraestructura.comun.Shared


@if (Request.IsAuthenticated)
{
    using(Html.BeginForm("LogOut", "Account", new { area = ""  }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right navegacion" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink( ContextoApp.Usuario.NombreUsuario , "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" ,@class="navegacion" })
            
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-log-out"></span></a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "loginLink" ,@class="navegacion"})</li>
    </ul>
}
